@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@layer utilities {
  .font-inter {
    font-family: "Inter", sans-serif;
  }
}
/* sheared style */
/* nav section */

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
nav ul {
  display: flex;
  gap: 32px;
  align-items: center;
}
nav ul li {
  font-size: 1rem;
  color: white;
}
nav button {
  font-size: 1rem;
  color: white;
  /* background-color: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  ); */
}
.nav-section {
  background-image: url("./assets/hero-bg.png");
  height: 850px;
  max-width: 1600px;
}
