@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@layer utilities {
  .font-inter {
    font-family: "Inter", sans-serif;
  }
}
/* sheared style */
/* nav section */
.nav-container {
  background-color: #1a0b2e;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
nav ul {
  display: flex;
  gap: 32px;
  align-items: center;
}
nav ul li {
  font-size: 1rem;
  color: white;
}
nav button {
  font-size: 1rem;
  color: white;
  border-style: none;
}
.banner-container {
  background-image: url("./assets/hero-bg.png");
  height: 760px;
  max-width: 1600px;
}

/* banner-container */
.image-container {
  position: relative;
  left: 3%;
  top: 90px;
}
.overlay-image {
  position: absolute;
  left: 125px;
  top: 80px;
}
.text-title {
  color: white;
  font-size: 60px;
  font-weight: 900;
  margin-top: 150px;
  text-align: center;
  margin-bottom: 2px;
}
.text-description {
  font-size: 1rem;
  color: white;
  margin-bottom: 25px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.btn #button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  border-style: none;
}
.btn #button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #00ff88;
  border-style: none;
  background-color: #1a0b2e;
  border: 2px solid #00ff88;
}
.btn {
  display: flex;
  gap: 20px;
  justify-content: center;
}
