@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@layer utilities {
  .font-inter {
    font-family: "Inter", sans-serif;
  }
}
/* sheared style */
/* nav section */
.nav-container {
  background-color: #1a0b2e;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
nav ul {
  display: flex;
  gap: 32px;
  align-items: center;
}
nav ul li {
  font-size: 1rem;
  color: white;
}
nav button {
  font-size: 1rem;
  color: white;
  border-style: none;
}
.banner-container {
  background-image: url("./assets/hero-bg.png");
  height: 760px;
  max-width: 1600px;
}

/* banner-container */
.image-container {
  position: relative;
  left: 3%;
  top: 90px;
}
.overlay-image {
  position: absolute;
  left: 125px;
  top: 80px;
}
.text-title {
  color: white;
  font-size: 60px;
  font-weight: 900;
  margin-top: 150px;
  text-align: center;
  margin-bottom: 2px;
}
.text-description {
  font-size: 1rem;
  color: white;
  margin-bottom: 25px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.btn #button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  border-style: none;
}
.btn #button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #00ff88;
  border-style: none;
  background-color: #1a0b2e;
  border: 2px solid #00ff88;
}
.btn {
  display: flex;
  gap: 20px;
  justify-content: center;
}
/* about section */
.about-section {
  background-color: #1a0b2e;
}
.about-title {
  font-size: 48px;
  font-weight: 700;
  color: white;
}
.about-discription {
  font-size: 16px;
  color: white;
  margin-bottom: 160px;
}
.views h2 {
  color: #00ff88;
  font-size: 48px;
}
.views p {
  color: white;
  font-size: 16px;
}
.about-container {
  max-width: 1200px;
  margin: 0 auto;
}
.about-text {
  text-align: center;
  padding-top: 50px;
}
.about-views {
  display: flex;
  justify-content: space-around;
  padding-bottom: 120px;
}
/* grid section */
.grid-layout {
  max-width: 1200px;
  margin: 0 auto;
}
.grid-title {
  color: white;
  font-size: 48px;
  font-weight: 700;
  padding: 120px 200px 40px 200px;
  text-align: center;
}
.grid-section {
  background-color: #230e3d;
}
.grid-layout > * {
  /* border: 2px solid red; */
  padding: 50px;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 50px;
}
.grid-layout h4 {
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.grid-layout p {
  color: white;
  font-size: 16px;
}

#latter {
  grid-area: latter;
}
#invisible {
  grid-area: invisible;
}
#visibility {
  grid-area: visibility;
}
footer {
  grid-area: footer;
}
#footer-right {
  grid-area: footer-right;
}
.grid-layout {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "latter   invisible  invisible"
    "latter   visibility  visibility"
    "footer   footer      footer-right";
}
.tarin img h4 p {
  margin-bottom: 100px;
}
.grid-layout {
  padding-bottom: 120px;
}
/* video section */
.video-section {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  /* border: 2px solid red; */
}
.epesode-section {
  background-color: #1a0b2e;
}
.feature-epesode h2 {
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 40px;
}
.title-section {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}
.text-epesode h4 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
}
.text-epesode p {
  color: white;
  font-size: 16px;
  margin-top: 12px;
}
.text-epesode {
  max-width: 385px;
  background-color: #250d44;
}
.arif {
  display: flex;
  gap: 15px;
  margin-top: 12px;
}
.arif img {
  width:;
}
/* challange-section */
.challange-section {
  padding-bottom: 120px;
}
.challange-title {
  color: white;
  font-size: 48px;
  font-weight: 700;
  margin-top: 120px;
  margin-bottom: 40px;
  text-align: center;
}
.challange-sub-section {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  background-color: #250d44;
  border-radius: 10px;
}
.challange-text h4 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.challange-text p {
  color: white;
  font-size: 1rem;
  margin-bottom: 16px;
}
.challange-icon {
  display: flex;
  gap: 20px;
}
.challange-image {
  padding: 40px;
  width: 500px;
  height: auto;
}
.challange-text {
  padding: 40px;
}
